<!--
<nav class="navbar navbar-default navbar-fixed-top" style="margin-bottom: 0">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">{{intl.navbar.brand}}</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li class="active" ><a href="#">{{intl.navbar.home}}</a></li>
            <li><a href="#">{{intl.navbar.products}}</a></li>
            <li><a href="#">{{intl.navbar.aboutUs}}</a></li>
            <li><a href="#">{{intl.navbar.contactUs}}</a></li>
            <li><a href="#">{{intl.navbar.articles}}</a></li>
        </ul>
    </div>
</nav>-->
<nav class="navbar navbar-dark navbar-fixed-top scrolling-navbar">

    <!-- Collapse button-->
    <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#collapseEx">
        <i class="fa fa-bars"></i>
    </button>

    <div class="container smooth-scroll">

        <!--Collapse content-->
        <!--<div class="collapse navbar-toggleable-xs" id="collapseEx">-->
            <!--Navbar Brand-->
            <a class="navbar-brand" href="http://mdbootstrap.com/material-design-for-bootstrap/" target="_blank">{{intl.navbar.brand}}</a>
            <!--Links-->
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item active">
                    <a class="nav-link" href="#">{{intl.navbar.home}}<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#about">{{intl.navbar.aboutUs}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#products">{{intl.navbar.products}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#articles">{{intl.navbar.articles}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contact">{{intl.navbar.contactUs}}</a>
                </li>

            </ul>
        </div>
        <!--/.Collapse content-->

    <!--</div>-->

</nav>



