<div id="products">

    <div class="divider-new">
        <h1 class="h1-responsive wow fadeInUp">محصولات ما</h1>
    </div>

    <div class="btn-group flex-center" data-toggle="buttons">
        <label class="btn btn-primary active" href="#product1" data-toggle="tab">
            <input type="radio" name="options" id="option1" autocomplete="off" checked>محصول اول
        </label>
        <label class="btn btn-primary" href="#product2" data-toggle="tab">
            <input type="radio" name="options" id="option2" autocomplete="off">محصول دوم
        </label>
        <label class="btn btn-primary" href="#product3" data-toggle="tab">
            <input type="radio" name="options" id="option3" autocomplete="off">محصول سوم
        </label>
    </div>

    <!--<div class="btn-group " data-toggle="buttons">-->
    <!--<a href="#product1" class="btn btn-primary" data-toggle="tab">محصول یک</a>-->
    <!--<a href="#product2" class="btn btn-primary" data-toggle="tab">محصول دو</a>-->
    <!--<a href="#product3" class="btn btn-primary" data-toggle="tab">محصول سه</a>-->
    <!--</div>-->

    <div class="tab-content">
        <div id="product1" class="tab-pane fade in active">
            <br>
            <div class="row">
                <div class="col-sm-6">
                    <h1>محصول یک ساخت کشور انگلستان</h1>
                    <p>خشکی پوست دست  در بین مردم جهان بسیار شایع است  که در ابتدا به صورت خشکی سپس به صورت زبری و قرمزی پوست دست  همراه با زبری و پوسته پوسته شدن می شود عوامل خارجی زیادی میتواند به خشکی دست منجر شود مانند استفاده از پودر رختشویی ، مایع ظرفشویی ، شوینده های شیمیایی ،صابون ، همچنین اب و هوا می تواند خشکی پوست را تشدید کند</p>
                </div>
                <div class="col-sm-6">
                    تصویر محصول در این قسمت قرار خواهد گرفت
                </div>
            </div>

            <a href="#" class="btn-secondary btn">اطلاعات بیشتر</a>
        </div>
        <div id="product2" class="tab-pane fade">
            <br>
            <div class="row">
                <div class="col-sm-6">
                    <h1>محصول دو ساخت کشور انگلستان</h1>
                    <p>انواع مختلف مواد غذایی مخصوصا  ادویه جات هم میتواند یکی از علل داخلی ایجاد حساسیت پوستی باشد در این موقع در وهله اول باید با یک دکتر پوست مشاوره داشته باشید تا تشخیص دهد که چه عاملی باعث تحریک خشکی و قرمزی پوستتان می شود .</p>
                </div>
                <div class="col-sm-6">
                    تصویر محصول در این قسمت قرار خواهد گرفت
                </div>
            </div>
            <a href="#" class="btn-secondary btn">اطلاعات بیشتر</a>
        </div>
        <div id="product3" class="tab-pane fade">
            <br>
            <div class="row">
                <div class="col-sm-6">
                    <h1>محصول سه ساخت کشور آلمان</h1>
                    <p>در هنگام استفاده از مواد شوینده حتما از دستکش مناسب که ایجاد حساسیت نکند استفاده شود . بسیاری از مردم به دستکش لاستیکی بیشتر حساسیت دارند برای همین منظور بهتر است از زیر دستکش پلاستیکی ، دستکش نخی استفاده شود تا به محض پاره شدن دستکش پلاستیکی ان را به دور بیندازید ، در فواصل زمانی که از دستکش استفاده نمیکنید در هوای ازاد اویزان کنید .</p>
                </div>
                <div class="col-sm-6">
                    تصویر محصول در این قسمت قرار خواهد گرفت
                </div>
            </div>
            <a href="#" class="btn-secondary btn">اطلاعات بیشتر</a>
        </div>
    </div>

</div>